<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Me</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>My History</h2>
        <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong
          Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from
          the A-list clientele in Hong Kong. Featuring four of the best three-star Michelin chefs in the world, you
          never know what will arrive on your plate the next time you visit us.</p>
        <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our
          CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Facts At A Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started Full Stack Web Development</dt>
              <dd>2 Feb. 2017</dd>
              <dt>Degree's</dt>
              <dd>Bachelor of Science, Oregon Transfer</dd>
              <dt>Specialties</dt>
              <dd>Full Stack Dev, Marketing, Digital Arts</dd>
              <dt>Current Works</dt>
              <dd>Contributor for Speed Up America</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Major influences in my life.</h3>
        <footer>-- Jeff Coulter,
          <cite>Life is about balance. Find that happy medium in life and try to stay there.</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Personal Snippet</h2>
    <mat-list *ngIf="leaders" [@expand]>
      <mat-list-item *ngFor="let leader of leaders">
        <img mat-list-avatar src={{leader.image}} alt={{leader}}>
        <h4 matLine> {{leader.name}} {{leader.abbr}} </h4>
        <p matLine> {{leader.designation}} </p>
        <p matLine> {{leader.description}} </p>
      </mat-list-item>
    </mat-list>
    <div [hidden]="leaders">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
  </div>
</div>