<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Me</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Current</h4>
        <address>
          Eugene<br>
          Oregon<br>
          United States<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:jimcoulter85@gmail.com">jimcoulter85@gmail.com</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="https://www.linkedin.com/in/jim-coulter-9559787b/"><i class="fa fa-drivers-license-o"></i> LinkedIn</a>
          <a mat-raised-button href="https://github.com/JCoulter85"><i class="fa fa-github"></i> GitHub</a>
          <a mat-raised-button href="mailto:jimcoulter85@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        <p></p>
       <iframe src="https://discordapp.com/widget?id=634177790316380171&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
      </div>
      <div fxFlex="40" align="center">
        <h3><b>Map Location</b></h3>
        <div class="mapouter" align="center"><div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Eugene%20OR&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send Me Your Feedback</h3>

    <div [hidden]="!isSubmitting || errMess" [@visibility]="visibility" [@expand]>
      <h4>Submitting Form</h4>
      <mat-spinner></mat-spinner>
    </div>

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" [hidden]="hideForm" [@visibility]="visibility" [@expand]>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{ formErrors.firstname }}</mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{ formErrors.lastname }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{ formErrors.telnum }}</mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
        </mat-form-field>
      </p>

      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May I contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
      </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="feedbackForm.invalid">Submit</button>
    </form>
    <mat-list *ngIf="feedback" [@visibility]="visibility" [@expand]>
      <h3>Your Submission</h3>
      <mat-list-item>First Name: {{feedback.firstname}}</mat-list-item>
      <mat-list-item>Last Name: {{feedback.lastname}}</mat-list-item>
      <mat-list-item>Tel. Number: {{feedback.telnum}}</mat-list-item>
      <mat-list-item>Email: {{feedback.email}}</mat-list-item>
      <mat-list-item>Contact You: {{feedback.agree}}</mat-list-item>
      <mat-list-item>How?: {{feedback.contacttype}}</mat-list-item>
      <mat-list-item>Feedback: {{feedback.message}}</mat-list-item>
    </mat-list>
  </div>
</div>